<div class="login-container cat-container">
<div class="portal-content-wrapper">
<div class="login-form-wrapper">
<div class="user-form cat-form">
<h1 id="catTitle" data-name="<%= name %>"><%= name %>,
which is your favorite cat picture?</h1>
<h2 id="catAge" data-age="<%= age %>">Please click on your favorite!</h2>
<%- include('./partials/cat-img-form.ejs') %>
</div>
</div>
</div>
</div>
