<div class="form-container">
    <h1><%= name %>, What is your age?</h1>
    <form action="/catimage/<%= id %>" method="POST">
    <h3>Please enter your age</h3>
    <input id="age" type="number" name="age" placeholder="Your Age" required/>
    <input type="submit" value="Submit">
    </form>
</div>