.bar {
    height: 5em;
    width: 100vw;
    display: flex;
}

.login-bar {
    background-color: var(--violet-shadowD);
    align-items: center;

}

.profile-bar {
    background-color: var(--grey);
    justify-content: space-between;
    align-items: center;
}

