.bar {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:-3%;
}

.login-bar {
    background-color: var(--violet-shadowD);
    align-items: center;

}

.profile-bar {
    background-color: var(--grey);
    justify-content: space-between;
    align-items: center;
}

.bar ul {
    display:flex;
    list-style-type: none;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

 .bar ul button{
    display: block;
} 
