.btn {
    font-size: 1.5em;
    padding: .5em;
    border: none;
    outline:none;
    cursor: pointer;
}

.btn:focus {
    outline:none;
}

.login-bar-btn {
    margin-left: 30px;
    padding-left: 2em;
    padding-right: 2em;
    background-color: rgb(24, 3, 41);
    color: white;
    box-shadow: 0 8px 16px 0 rgba(24, 3, 41,0.5);
}

.login-bar-btn:hover {
    background-color: coral;
    box-shadow: inset 0 8px 16px 0 rgba(24, 3, 41, 0.5);
    text-shadow: 1px 1px rgb(24, 3, 41); 
}


.edit-btn {
    font-size: .5em;
    margin-left: .5em;
}


.profile-btn {
    background-color: rgb(49, 25, 70);
    color: rgb(219, 200, 224);
    border-radius: .5em;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(24, 3, 41, 0.5);
}

.profile-btn:hover {
    background-color: coral;
    color: rgb(49, 25, 70);
    box-shadow: inset 0 8px 16px 0 rgba(24, 3, 41, 0.3);
}

.profile-bar-loggout-btn {
    margin-right: 2em;
}

/* the sizing and border radius are used to make
 a button that visually matches the images on the same line */ 
.reset-btn {
    height: 100px;
    width: 100px;
    font-size: .75em;
    border-radius: 100%;
    box-shadow: 0 8px 16px 0 rgba(24, 3, 41, 0.5);
}

.reset-btn:hover {
    height: 100px;
    width: 100px;
    background-color: coral;
    color:  white;
    box-shadow: inset 0 8px 16px 0 rgba(24, 3, 41, 0.3);
    text-shadow: 1px 1px black; 
}