.btn {
    font-size: 1.5em;
    margin: 0px .5em;
    padding: .75em 1em;
    border: none;
    outline:none;
    cursor: pointer;
}

.btn:focus {
    outline:none;
}

.bar-btn, .user-input[type=button] , .user-input[type=submit] {
    background-color: var(--violet-shadowD);
    color:  var(--light-violet);
    border-radius: .5em;
    box-shadow: 0 8px 16px 0 var(--violet-shadowM);
    border:1px solid black;
}

.bar-btn:hover, .user-input[type=button]:hover , .user-input[type=submit]:hover {
    background-color: coral;
    box-shadow: inset 0 8px 16px 0 var(--violet-shadowM);
    text-shadow: 1px 1px var(--violet-shadowD);
    border:1px solid black; 
}

.edit-btn {
    font-size: .5em;
    margin-left: .5em;
}


/* the sizing and border radius are used to make
 a button that visually matches the images on the same line */ 
.reset-btn {
    height: 100px;
    width: 100px;
    font-size: .75em;
    border-radius: 100%;
    box-shadow: 0 8px 16px 0 var(--violet-shadowM);
    padding:0;
}

.reset-btn:hover {
    height: 100px;
    width: 100px;
    background-color: coral;
    color:  white;
    box-shadow: inset 0 8px 16px 0 var(--violet-shadowL);
    text-shadow: 1px 1px black; 
}