.game-content {
    background-color: rgba(232, 233, 227, 0.8);
    padding-top: 0px;
    margin-top: -50px;
}

.game-content-wrapper {
    height: 100%;
    width: 100%;
    padding-top: 0;
}

.game-div {
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
}

.score-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 2em;
    margin: 1em 0em 1em 0em;
}

.age-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    margin: 1em 0em 1em 0em;  
}

.target-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 2em;
    margin: 1em 0em 1em 0em;
}

.number-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.wins-and-losses-div {
    display: flex;
    flex-direction: column;  
}

.wins-losses-img-div {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-size: cover;
    background-size: cover;
    background-position: center;
}

.wins-img-div {
    background-image: url('../../images/whosahappykitty.gif');
}

.losses-img-div {
    background-image: url('../../images/angrycat.gif');
}

.game-btn {
    margin: 10px;
    font-size: 7.5em;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-size: cover;
    background-size: cover;
    background-position: center;
    outline: none;
    border: none;
}

.target1 {
    background-image: url('../../images/catdance.gif');
}

.target2 {
    background-image: url('../../images/mew2.gif');
}

.target3 {
    background-image: url('../../images/spinnercat.gif');
}

