.game-content {
    background-color: var(--grey);
    padding-top: 0px;
    display: flex;
    margin: 0;
}

.column {
    float: left;
    flex: 40%;
    margin: 1em;
}

.game-content-wrapper {
    padding-top: 0;
}

.game-div {
    max-height: 100vh;
    display: flex;
    flex-direction: column;
}

.play-wrapper {
    display: flex;
    justify-content: space-around;
    font-size: 1.5em;
    padding: .5em .25em;
    margin: 1em .25em 1em .25em;
    border: 1px solid var(--violet);
    background-color: var(--off-white);
}

/* The display flex is added here to allow for 
some responsiveness on large screens before the media 
query for phones */

.score-wrapper {
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-around;
    font-size: 2em;
    max-height: 8em;
}

.age-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    margin: 1em 0em 1em 0em;
}

.number-wrapper {
    display: flex;
    justify-content: center;
}

.wins-losses-img-div {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-size: cover;
    background-size: cover;
    background-position: center;
}

.wins-img-div {
    background-image: url('../../images/whosahappykitty.gif');
}

.losses-img-div {
    background-image: url('../../images/angrycat.gif');
}

/* The text-shadow property is used below to make the numbers easier to see over the images */

.game-btn {
    margin: 10px;
    font-size: 7.5em;
    text-shadow: 1px 1px var(--grey);
    height: 200px;
    width: 200px;
    padding: .25em;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    outline: none;
    border: none;
    box-shadow: 0 8px 16px 0 var(--violet-shadowM);
}

.game-btn:hover {
    box-shadow: inset 0 8px 16px 0 var(--violet-shadowL);
    color: var(--gold);
    text-shadow: 1px 1px var(--violet-shadowD);
}

.target1 {
    background-image: url('../../images/catdance.gif');
}

.target2 {
    background-image: url('../../images/mew2.gif');
}

.target3 {
    background-image: url('../../images/spinnercat.gif');
}

.play-wrapper >p {
    margin:.25em;
}

/* This query is used to make the site game mobile friendly */

@media only screen and (min-width:120px) {
    .game-padding {
        padding-top: 5em;
    }
}

@media only screen and (max-width: 1200px) {
    .site-container {
        height: auto;
        max-width: 100vw;
        background-size: cover;
    }
    .game-content {
        display: block;
        max-width: 95vw;
    }
    .column {
        float: center;
        margin: 1em;
        width: 100%;
    }
    .number-wrapper{
        display: flex;
        flex-flow: row wrap-reverse;
        justify-content: space-around;
    }
    .game-btn {
        margin: auto;
        font-size: 4em;
        height: 100px;
        width: 100px;
        text-align: center;
    }
    .reset-btn {
        margin: 0px;
    }
}