.game-content {
    background-color: rgba(232, 233, 227, 0.8);
    padding-top: 0px;
    display:flex;
    min-width: 90vw;
    margin:0;
}

.column{
    float: left;
    flex: 40%;
    margin:1em;
}

.game-content-wrapper {
    padding-top: 0;
}

.game-div {
    max-height: 100vh;
    display: flex;
    flex-direction: column;
}

.play-wrapper {
    display: flex;
    justify-content: space-around;
    font-size: 1.5em;
    padding-top: .5em;
    padding-bottom: .5em;
    margin: 1em .25em 1em .25em;
    border: 1px solid rgb(49, 25, 70);
    background-color: rgb(232, 233, 227);
}

/* the display flex is added here to allow for 
some responsiveness on large screens before the media 
query for phones */
.score-wrapper {
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-around;
    font-size: 2em;
    max-height: 8em;
}

.age-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    margin: 1em 0em 1em 0em;  
}

.number-wrapper {
    display: flex;
    justify-content: center;
}

.wins-losses-img-div {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-size: cover;
    background-size: cover;
    background-position: center;
}

.wins-img-div {
    background-image: url('../../images/whosahappykitty.gif');
}

.losses-img-div {
    background-image: url('../../images/angrycat.gif');
}

/* The text-shadow property is used below to make the numbers easier to see over the images */
.game-btn {
    margin: 10px;
    font-size: 7.5em;
    text-shadow: 1px 1px white;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-size: cover;
    background-size: cover;
    background-position: center;
    outline: none;
    border: none;
}

.target1 {
    background-image: url('../../images/catdance.gif');
}

.target2 {
    background-image: url('../../images/mew2.gif');
}

.target3 {
    background-image: url('../../images/spinnercat.gif');
}

@media only screen and (max-width: 1100px) {
    .site-container{
        height:auto;
        max-width: 100vw;
        background-size: cover;
        padding: 6em 0em 1em 0em;
    }
    
    .game-content{
        display: block;
    }
    .column{
        float: center;
        margin: 1em;
        width: 100%;
    }


}