.game-how-to-container {
    padding-top: 0px;
}

.game-how-to-content {
    background-color: rgba(232, 233, 227, 0.8);
    padding: 1em;
}

.game-how-to-header {
    margin-top: 3em;
}

.game-how-to-text {
    margin: 1em;
}

.game-how-to-text > p {
    font-size: 2em;
}

.game-how-to-h2 {
    margin-bottom: 3em;
}

.close-modal-game-how-to {
    margin-top: 0px;
}