.portal-container {
    height: 100vh;
    width: 100vw;
    position: absolute;
    padding-top: 5em;
    top: 0px;
    z-index: -10;
    background-image: url('../../images/infiniteCat.gif');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.portal-content-wrapper {
    height: 95%;
    width: 95%;
    background-color:rgba(226, 218, 231, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: .5em;
    color: rgb(31, 2, 59);

}

.portal-content {
    background-color: rgba(232, 233, 227, 0.5);
    padding: 3em;
    border-radius: .5em;
}

.portal-content > h1, h2, h3 {
    font-size: 5em;
}