.login-container {
    height: 100vh;
    width: 100vw;
    background-image: url('../../images/infiniteCat.gif');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form-wrapper {
    height: 75%;
    width: 55%;
    background-color:rgba(24, 3, 41, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: .5em;
    color: white;

}

.bold {
    font-weight: bold;
}

.user-form {
    margin-bottom: 25px;
    padding: 15px;
    background-color: rgb(24, 3, 41);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    max-width: 75%;
    max-height: 75%;
    border-radius: 5px;
}

.user-form h3 {
    font-size: 1.5em;
    color: rgb(151, 151, 189);
}

.user-input {
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 3px;
    font-size: 1.65em;
}

.user-input[type=submit] {
    font-size: 1.75em;
    border-radius: 3px;
    background-color: rgb(130, 86, 136);
    border: 1px solid rgb(73, 36, 75);
    box-shadow: 2px 2px rgb(73, 36, 75);
    cursor: pointer;
    color: rgb(221, 198, 228);
    outline: none;
}

.user-input[type=submit]:hover {
    background-color:coral;
    color: rgb(54, 53, 53);
}

.user-input[type=button] {
    font-size: 1.75em;
    border-radius: 3px;
    background-color:rgb(130, 86, 136);
    border: 1px solid rgb(73, 36, 75);
    box-shadow: 2px 2px rgb(73, 36, 75);
    cursor: pointer;
    color: rgb(221, 198, 228);
    outline: none;
}

.user-input[type=button]:hover {
    background-color: coral;
    color: rgb(54, 53, 53);
}

.close-modal-login {
    margin-top: -30px;
    width: 100%;
    height: 100%;
    max-height: 2em;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.login-modal-anchor {
    text-decoration: none;
    margin-right: 15px;
    font-size: 2em;
    color:rgb(151, 151, 189);
}

.login-modal-anchor:hover {
    color: coral;
    cursor: pointer;
}

.cat-form {
    margin-top: 2em;
    max-width: 80%;
}

.cat-form > h1, h2 {
    font-size: 2em;
}

