.login-container {
    height: 100vh;
    width: 100vw;
    background-image: url('../../images/infiniteCat.gif');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-content-wrapper {
    height: 95%;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: .5em;
    color: var(--violet);
}
.login-content {
    background-color: var(--off-white);
    padding: 3em;
    border-radius: .5em;
    max-width: 90vw;
    opacity: 0.8;
}


.login-form-wrapper {
    background-color:var(--violet-shadowD);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: .5em;
    color: var(--off-white);
    padding: 1.5em;
}
.message-div{
    color: var(--off-white);
    font-size: 2rem;
    padding:1em;
}

.login-msg-partial {
    background-color:var(--violet-shadowD);
    padding: 2em;
    border-radius: .5em;
}
