.login-container {
    height: 100vh;
    width: 100vw;
    background-image: url('../../images/infiniteCat.gif');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form-wrapper {
    background-color:var(--violet-shadowD);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: .5em;
    color: white;
}
.message-div{
    color: var(--off-white);
    font-size: 2rem;
    padding:1em;
}
