.close-modal-login {
    width: 100%;
    height: 100%;
    max-height: 2em;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-decoration: none;
    margin: .5em;
}


.login-modal-anchor {
    cursor: pointer;
    padding: 8px 5px;
    background-color: var(--violet-shadowD);
    color:var(--gold);
    text-align:center;
    border-radius: .5em;
    
}

.login-modal-anchor span{
    background: var(--violet-shadowD);
    width: 26px;
    height: 1px;
    border: 2px solid var(--gold);
    margin-bottom: 6px;
    display: block;
    border-radius: .5em;
    box-shadow: 0 8px 16px 0 var(--violet-shadowM);

}

.login-modal-anchor span:nth-child(1) {
    border: 2px solid var(--gold);
    transform: translate(0px, 6px) rotate(45deg);
    background-color: var(--gold);
}

.login-modal-anchor span:nth-child(2) {
    transform: translate(0px, -4px) rotate(-45deg);
    background-color: var(--gold);
}

.login-modal-anchor:hover {
    background-color: var(--gold);
    color: var(--violet-shadowD);
    cursor: pointer;
    box-shadow: inset 0 8px 16px 0 var(--violet-shadowM);
}

.login-modal-anchor:hover span:nth-child(1){
    color: var(--violet-shadowD);
    border: 2px solid var(--violet-shadowD);
}

.login-modal-anchor:hover span:nth-child(2) {
    color: var(--violet-shadowD);
    border: 2px solid var(--violet-shadowD);
}

.profile-anchor {
    padding: 3px;
}

.times-played-modal {
    height: 0px;
}

.times-played-anchor {
    color: white;
    font-size: 1em;
    padding-right: 0px;
    margin-right: 0px;
};