.profile-header {
    margin-bottom: 1em;
    border: 1px solid var(--violet-shadowD);
    padding: 1em;
    background-color: var(--off-white);
    border-radius: .5em;
}

.profile-div {
    border-radius: .5em;
    color: var(--off-white);
    background-color: var(--violet-shadowD);
    justify-content: center;
}

.profile-field-div {
    padding: .75em;
    margin: auto;
    display: flex;
    flex-flow: wrap;
    font-size: 2em;
    align-items: center;
    justify-content: space-around;
    width: 75vw;
}

.profile-btn-group {
    display: flex;
    justify-content: space-evenly;
    padding: 1em;
    border: 1px solid var(--violet-shadowD);
    background-color: var(--off-white);
    border-radius: .5em;
}

.profile-form {
    display: flex;
    flex: wrap
}

.profile-form-wrapper {
    background-color: var(--grey);
}

.profile-user-form {
    background-color: var(--violet-shadowD);
}

.profile-input[type=submit] {
    background-color: var(--gold);
    color: var(--violet);
}

.profile-input[type=submit]:hover {
    background-color: var(--violet);
    color: var(--off-white);
}

.profile-cat-and-times-played-wrapper {
    display: flex;
    flex-flow: wrap;
}

.profile-cat-div {
    display: flex;
    background-color: var(--grey);
    border: 1px solid var(--violet-shadowD);
    padding: 0.5em;
    border-radius: .25em;
    min-height: 30%;
    justify-content: center;
}

.profile-cat-img-and-btn-div {
    justify-content: space-around;
    align-items: center;
    display: flex;
    padding-top: 1em;
}

.profile-cat-img-and-btn-div>img {
    height: 180px;
    width: 180px;
    border-radius: 50%;
}

.profile-how-many-div {
    display: flex;
    background-color: var(--grey);
    border: 1px solid var(--violet-shadowD);
    flex-direction: column;
    justify-content: space-around;
    padding: 0.5em;
    border-radius: .25em;
}

.profile-how-many-div>p {
    margin-bottom: 1em;
}

@media only screen and (min-width:400px) {
    .portal-content>.close-modal-login {
        max-width: 85vw;
    }
    .portal-content {
        padding: .5em;
        background-color: var(--violet);
    }
    .profile-header {
        margin: auto;
        max-width: 75vw;
    }
    .profile-div {
        min-width: 70vw;
    }
    .profile-field-div > .edit-btn , .profile-cat-img-and-btn-div> .edit-btn{
        color:var(--violet-shadowD);
        background-color: var(--gold);
        font-size: .75em;
        margin-top: 5px;
    }
    .profile-cat-img-and-btn-div{
        max-width: 75vw;
        display: flex;
        flex-flow: wrap;
    }

}