
.profile-content-wrapper{
    height: auto;
}
.profile-content {
    height: auto;
}

.profile-content > h1, h2, h3 {
    font-size: 2em;
}

.profile-header {
    margin-bottom: 1em;
    border: 1px solid var(--violet-shadowD);
    padding: .5em;
    background-color:var(--off-white);
}

.profile-field-div {
    margin-left: 3em;
    display: flex;
    font-size: 2em;
}

.profile-btn-group {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    border: 1px solid var(--violet-shadowD);
    background-color: var(--off-white);
}

.profile-form-wrapper {
    background-color:var(--grey);
}

.profile-user-form {
    background-color: var(--gold);
}

.profile-input[type=submit] {
    background-color: coral;
    color:var(--violet);
}

.profile-input[type=submit]:hover {
    background-color: var(--violet);
    color: var(--off-white);
}

.profile-cat-and-times-played-wrapper {
    display: flex;
}

.profile-cat-div {
    background-color: var(--grey);
    display: flex;
    border: 1px solid var(--violet);
    padding: 0.5em;
    margin-top: 0.5em;
    border-radius: .25em;
    height:30%;

}

.profile-cat-img-and-btn-div {
    justify-content:center;
    align-items: center;
    display: flex;
}

.profile-cat-img-and-btn-div > img {
    height: 180px;
    width: 180px;
    border-radius: 50%;
} 

.profile-how-many-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5em;
    border: 1px solid var(--violet-shadowD);
    background-color: var(--off-white);
}

.profile-how-many-div > p {
    margin-bottom: 1em;
}

.profile-close-modal-login {
    margin-top: -50px;
}

.profile-modal-anchor {
    margin-right: -35px;
}


