.update-name-text {
    padding: 2em;
    margin: 1em;
    background-color: rgba(129, 111, 64, 0.9);
    border-radius: .5em;
}

.update-name-text > h1 {
    color:rgb(22, 17, 26);
}

.update-times-wrapper {
    height: 100%;
    width: 100%;
    background-color: rgba(247, 240, 235, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.update-gamesplayed-div {
    background-color:rgba(201, 163, 94, 0.95);
    padding: 4.5em 1em 1em 1em;
}

.update-timesplayed-text {
    font-size: 2em;
}

.update-timesplayed-text > p{
    color: white; 
}



