.update-name-text {
    padding: 2em;
    margin: 1em;
    background-color:var(--violet-shadowD);
    border-radius: .5em;
}

.update-name-text > h1 {
    color:var(--off-white);
    text-align: center;
    padding-bottom: .25em;
}

.update-name-text > h2 {
    text-align: center;
}
.update-name-text > h3 {
    text-align: center;
}

.update-text-light{
    color: var(--off-white);
}

.update-times-wrapper {
    height: 100%;
    width: 100%;
    background-color: var(--grey);
    display: flex;
    justify-content: center;
    align-items: center;
}



