.user-form {
    margin-bottom: 25px;
    padding: 15px;
    background-color: rgb(24, 3, 41);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 100%;
  
    max-height: 75%;
    border-radius: 5px;
}

.user-form h3 {
    font-size: 1.5em;
    color: rgb(151, 151, 189);
}

.user-input {
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 3px;
    font-size: 1.65em;
    outline: none;
}



