<%- include('./partials/login-bar.ejs') %>
<div class="portal-container">
  <div class="login-content-wrapper">
    <div class="login-content">
      <h1>Welcome To The Full Stack Cat App</h1>
      <h1>Please Come In</h1>
      <h1>And Play With Us<h1>
    </div>
    <div class="message-div">
      <%- include('./../login/partials/passport-message') %>
    </div>
  </div>
</div>