<div class="login-container">
<div class="login-form-wrapper">
  <h1>Login</h1>
  <form action="/auth/login" method="POST" class="user-form">
    <h3>Please enter your email and password</h3>
    <p><code>GET /auth/login</code></p>
    <input id="uemail" type="email" name="email" class="user-input" placeholder="useremail">
    <input id="password" type="password" class="user-input" name="password" placeholder="userpassword">
    <input type="submit" class="user-input" value="Submit">
    <br/>
    <br/>
    <input type="button" value="Register" class="user-input" onClick="window.location.href='/new/register'">
  </form>

    <div class="message-div">
      <%- include('./partials/passport-message') %>
      <% if(success && success.length > 0){ %>
          <div>
          <%= success %>
          </div>
          <% } %>

      <% if(error && error.length > 1){ %>
          <div>
          <%= error %>
          </div>
      <% } %>
    </div>
</div>

</div>

        