<div class="container">
  <h1>Login</h1>
  <form action="/auth/login" method="POST">
    <h3>Please enter your email and password</h3>
    <p><code>GET /auth/login</code></p>
    <input id="uemail" type="email" name="email" placeholder="useremail">
    <input id="password" type="password" name="password" placeholder="userpassword">
    <input type="submit" value="Submit">
    <br/>
    <br/>
    <input type="button" value="Register" onClick="window.location.href='/new/register'">
  </form>
</div>
<%- include('../../partials/passport-message') %>
<% if(success && success.length > 0){ %>
    <div>
        <%= success %>
    </div>
<% } %>

<% if(error && error.length > 1){ %>
    <div>
        <%= error %>
    </div>
<% } %>

        