<div class="login-container">
<div class="login-form-wrapper">
<div class="close-modal-login">
<a class="login-modal-anchor" href="/">&#10005;</a>
</div>
<h1>Register</h1>
<div class="space-div"></div>
  <form action="/new/register" method="POST" class="user-form">
    <h3>Please Register your name and password</h3>
    <input id="uname" type="text" name="username" class="user-input" placeholder="name">
    <input id="uemail" type="email" name="email" class="user-input" placeholder="email">
    <input id="password" type="password" name="password" class="user-input" placeholder="password">
    <div></div>
    <input class="user-input" type="submit" value="Submit">
  </form>
    <div class="message-div">
    <%- include('./partials/messages') %>
    </div>
</div>
</div>