<div class="container">
  <h1>Register</h1>
  <form action="/new/register" method="POST">
    <h3>Please Register your name and password</h3>
    <p><code>POST /register</code></p>
    <input id="uname" type="text" name="username" placeholder="username">
    <input id="uemail" type="email" name="email" placeholder="email">
    <input id="password" type="password" name="password" placeholder="userpassword">
    <input type="submit" value="Submit">
  </form>
</div>
<%- include('../../partials/messages') %>
