<div class="container">
  <h1>Edit</h1>
  <form action="/user/update/<%= id %>" method="POST" class="user-form">
    <h3>Please Update your name and/or email</h3>
    <p><code>POST /update/<%= id %></code></p>
    <input id="newname" type="text" name="newname" class="user-input" placeholder="newname">
    <input id="newemail" type="email" name="email" class="user-input" placeholder="newemail">
    <input class="user-input" type="submit" value="Update Profile">
  </form>
</div>