@import './login-styles/user.css';
@import './site-styles/bar.css';
@import './site-styles/portal.css';
@import './login-styles/modal.css';
@import './login-styles/update.css';
@import './site-styles/site.css';
@import './login-styles/login.css';
@import './login-styles/profile.css';
@import './login-styles/cat.css';
@import './site-styles/btn.css';
@import './site-styles/game.css';
@import './site-styles/game-how-to.css';

*, body, html, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --violet: rgb(31, 2, 59);
    --light-violet: rgb(219, 200, 224);
    --violet-shadowD: rgba(24, 3, 41, 0.8);
    --violet-shadowM: rgba(24, 3, 41, 0.5);
    --violet-shadowL: rgba(24, 3, 41, 0.3);
    --grey: rgba(232, 233, 227, 0.5);
    --off-white:  rgb(247, 240, 235);
    --gold: rgb(212, 183, 129);
    
}


img {
    height: 200px;
    width: 200px;
}

.space-div {
    height: 1em;
    width: 100%;
}