@import './login-styles/user.css';
@import './site-styles/bar.css';
@import './site-styles/portal.css';
@import './login-styles/modal.css';
@import './login-styles/update.css';
@import './site-styles/site.css';
@import './login-styles/login.css';
@import './login-styles/profile.css';
@import './login-styles/cat.css';
@import './site-styles/btn.css';
@import './site-styles/game.css';

*, body, html, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    height: 200px;
    width: 200px;
}

.space-div {
    height: 1em;
    width: 100%;
}