<div id="loseScreen" class="win-lose-modal lose-screen-wrapper hidden">
    <div class="pseudo-modal-anchor">
        <div class="close-modal-login">
            <a id="losePseudoModalAnchor" class="login-modal-anchor" href="#">
                <span></span>
                <span></span>
            </a>
        </div>
    </div>
    <h1>Oh No! <%= name %>, you lost this round!</h1>
    <div class="win-lose-screen-score-display">
        <p>The score is:</p><span id="loseScore"></span>
    </div>
</div>