<div class="modal-display lose-screen-wrapper">
    <h1>Oh No! <%= name %>, you lost this round!</h1>
    <div class="lose-screen-score-display">
        <p>The score is:</p><span id="winLoseScore"></span>
    </div>
</div>