<div class="bar login-bar profile-bar" >
<button class="btn login-bar-btn profile-bar-profile-btn" type="button" onClick="window.location.href='/profile/landing/<%= user_id %>'"><%= name %></button>
<button class="btn login-bar-btn profile-bar-loggout-btn" type="button" onClick="window.location.href='/'">Log Out</button>
</div>