<nav class="bar profile-bar">
    <button
        onclick="this.classList.toggle('collapsed');document.getElementById('nav-links').classList.toggle('expanded')">
        <span></span>
        <span></span>
        <span></span>
        hello
    </button>
    <ul id="nav-links" class="nav-links">
        <button class="btn login-bar-btn" type="button"
            onClick="window.location.href='/profile/landing/<%= user_id %>'"><%= name %>
        </button>
        <button class="btn login-bar-btn" type="button"
            onClick="window.location.href='/restOfSite/game/howTo/<%= id %>'">
            How To Play</button>
        <button class="btn login-bar-btn" type="button" onClick="window.location.href='/'">
            Log Out</button>
    </ul>
</nav>