<div class="modal-display win-screen-wrapper">
    <h1>Congratulations, <%= name %>, you won!</h1>
    <div class="win-screen-score-display">
        <p>The score is:</p><span id="winLoseScore"></span>
    </div>
</div>