<div class="cat-image-div">
<form action="/profile/third-page/<%= id %>" method="POST">
<input type="hidden" name="src" value="/assets/images/disgusting.gif"/>
<button class="cat-btn" type="submit"><img src="/assets/images/disgusting.gif" /></button>
</form>
<form action="/profile/third-page/<%= id %>" method="POST">
<input type="hidden" name="src" value="/assets/images/justGross.gif"/>
<button class="cat-btn" type="submit"><img src="/assets/images/justGross.gif" /></button>
</form>
<form action="/profile/third-page/<%= id %>" method="POST">
<input type="hidden" name="src" value="/assets/images/justaintright.gif"/>
<button class="cat-btn" type="submit"><img src="/assets/images/justaintright.gif" /></button>
</form>
</div>
